* {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: hsl(49, 1%, 90%);
}

.box {
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  background: hsl(49, 64%, 47%);
  display: block;
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin-bottom: 2rem;
}
input {
  margin-bottom: 1rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: hsl(49, 1%, 90%);
}

input {
  background: hsl(49, 1%, 90%);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  height: 2rem;
  width: 100%;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  cursor: pointer;
  background: hsl(49, 1%, 90%);
  border: none;
  border-radius: 0.5rem;
  margin: 1rem 0;
  height: 2.5rem;
  width: 100%;
}

button:hover {
  background: hsl(49, 1%, 85%);
}
